.row_poster{
    object-fit: contain;
    max-height: 100px;
    width: 100%;
    margin-right: 10px;
    transition: transform 450ms; /* Transition to the new state with a small delay */

}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

}
.row_poster:hover{
    transform: scale(1.1);
    opacity: 1;
}